@{
    ViewData["Title"] = "Users";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioTuristico.Entities

@inject VillaggioTuristico.Contexts.UserDBContext userDBContext

@model VillaggioTuristico.Models.UsersAndRolesViewModel

      <!-- Cover -->
<section class="cover_index">
    <div class="cover_filter"></div>
<div class="cover_caption" >
    <div class="cover_caption_copy" >
        <h1>Vivi la vita che hai immaginato.</h1>
        <h2>Henry David Thoreau</h2>
    </div>
</div>
</section>

      <!-- Cards -->
<section class="cards clearfix">
    
    <div class="card" data-bs-toggle="modal" data-bs-target="#myModal">
        <img class= "card_image" src="images/tim-woolliscroft-T7nGkdpGdzk-unsplash.jpg" alt="Nature" >
        <div class= "card_copy">
            <a href="https://www.focus.it/scienza/spazio/verso-le-stelle-col-motore-elicoidale"><h3>Verso le stelle col motore elicoidale</h3></a>
            <p>Di tanto in tanto sbucano fuori nuove idee per tentare di accelerare i voli spaziali fino a velocità prossime a quella della luce: questo perché siamo troppo lenti per poter raggiungere le stelle in tempi umani. Purtroppo fino a oggi tutti i progetti sono finiti in nulla o al più rimangono come possibilità remote - ma chi non si arrende immagina anche motori di nuova concezione e che magari sfidano le leggi della fisica.</p>
        </div>
    </div>

    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

    <div class="card" data-bs-toggle="modal" data-bs-target="#Aggiungi">
        <img class= "card_image" src="images/shamoil-1tIyrx0hzJo-unsplash.jpg" alt="unsplash">
        <div class= "card_copy"><a href="https://www.ansa.it/canale_scienza_tecnica/notizie/spazio_astronomia/2022/04/24/marte-perseverance-inizia-nuove-ricerche-nellantico-delta-_53d0c9fe-7259-4454-ab1f-8ff46eabd284.html"><h3>Marte, Perseverance inizia nuove ricerche nell'antico delta</h3></a>
            <p>Di tanto in tanto sbucano fuori nuove idee per tentare di accelerare i voli spaziali fino a velocità prossime a quella della luce: questo perché siamo troppo lenti per poter raggiungere le stelle in tempi umani. Purtroppo fino a oggi tutti i progetti sono finiti in nulla o al più rimangono come possibilità remote - ma chi non si arrende immagina anche motori di nuova concezione e che magari sfidano le leggi della fisica.</p>
        </div>
    </div>

    <div class="card" data-bs-toggle="modal" data-bs-target="#Aggiungi">
        <img class= "card_image" src="images/thomas-tucker-QsiuD0w95h0-unsplash.jpg" alt="Nature">
        <div class= "card_copy">
            <h3>Title card</h3>
            <p>Di tanto in tanto sbucano fuori nuove idee per tentare di accelerare i voli spaziali fino a velocità prossime a quella della luce: questo perché siamo troppo lenti per poter raggiungere le stelle in tempi umani. Purtroppo fino a oggi tutti i progetti sono finiti in nulla o al più rimangono come possibilità remote - ma chi non si arrende immagina anche motori di nuova concezione e che magari sfidano le leggi della fisica.</p>
        </div>
    </div>
</section>

<section class="banner clearfix">
    <div class="banner_image_index_1"></div>
        <div class="banner_copy">
            <div class="banner_copy_text">    
                <h3>Banner Title</h3>
                <p>Banner sottotitolo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum cumque cum quibusdam cupiditate libero ipsum harum praesentium.</p>
            </div>
         </div>
</section>

      <!-- Cards -->
<section class="cards clearfix">
    <div class="card">
        <img class= "card_image" src="images/woody-kelly-lqi5rhwde5o-unsplash.jpg" alt="Nature" >
        <div class= "card_copy">
            <h3>Title card</h3>
            <p>Di tanto in tanto sbucano fuori nuove idee per tentare di accelerare i voli spaziali fino a velocità prossime a quella della luce: questo perché siamo troppo lenti per poter raggiungere le stelle in tempi umani. Purtroppo fino a oggi tutti i progetti sono finiti in nulla o al più rimangono come possibilità remote - ma chi non si arrende immagina anche motori di nuova concezione e che magari sfidano le leggi della fisica.</p>
        </div>
    </div>
    <div class="card">
        <img class= "card_image" src="images/thomas-bormans-jOkTZbRX1m0-unsplash.jpg" alt="Nature">
        <div class= "card_copy">
            <h3>Title card</h3>
            <p>Di tanto in tanto sbucano fuori nuove idee per tentare di accelerare i voli spaziali fino a velocità prossime a quella della luce: questo perché siamo troppo lenti per poter raggiungere le stelle in tempi umani. Purtroppo fino a oggi tutti i progetti sono finiti in nulla o al più rimangono come possibilità remote - ma chi non si arrende immagina anche motori di nuova concezione e che magari sfidano le leggi della fisica.</p>
        </div>
    </div>
    <div class="card">
        <img class= "card_image" src="images/woody-kelly-DYn4hY1OviU-unsplash.jpg" alt="Nature">
        <div class= "card_copy">
            <h3>Title card</h3>
            <p>Di tanto in tanto sbucano fuori nuove idee per tentare di accelerare i voli spaziali fino a velocità prossime a quella della luce: questo perché siamo troppo lenti per poter raggiungere le stelle in tempi umani. Purtroppo fino a oggi tutti i progetti sono finiti in nulla o al più rimangono come possibilità remote - ma chi non si arrende immagina anche motori di nuova concezione e che magari sfidano le leggi della fisica.</p>
        </div>
    </div>
</section>

<section class="banner clearfix">
        <div class="banner_copy">
            <div class="banner_copy_text">    
                <h3>Banner Title</h3>
                <p>Banner sottotitolo</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum cumque cum quibusdam cupiditate libero ipsum harum praesentium.</p>
            </div>
        </div>
     <div class="banner_image_index_2"></div>
</section>

