@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginModel
@using Microsoft.AspNetCore.Identity
@using VillaggioTuristico.Entities
@inject SignInManager<User> SignInManager
    @if (!SignInManager.IsSignedIn(User))
    {
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 p-3 m-3 bg-light border border-secondary rounded shadow">
                <form asp-action="Login" asp-controller="Home" method="post" style="text-align:center">
                    <div class="form-group">
                        <label asp-for="@Model.UserName"></label>
                        <input type="text" class="form-control" placeholder="Inserisci il tuo nome utente" asp-for="@Model.UserName" />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password"></label>
                        <input type="password" class="form-control" placeholder="Inserisci password" asp-for="@Model.Password"/>
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg" value="Login" />
                </form>
            </div>
        </div>
    </div>
    }
    else  
    {
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 p-3 m-3 bg-light border border-secondary rounded shadow">
                <h1 class="text-center">Prenotazione</h1>
                <form style="text-align:center">
                    <div class="form-group">
                        <label for="prenotationCamera">Camera:</label>
                        <input type="text" class="form-control" placeholder="Inserisci il numero della camera" id="prenotationCamera" />
                    </div>
                    <div class="form-group">
                        <label for="prenotationPeriodo">Periodo:</label>
                        <input type="text" class="form-control" placeholder="Inserisci il periodo" id="prenotationPeriodo" />
                    </div>
                    <input type="submit" class="btn btn-success btn-lg" onclick="insertPrenotation()" value="Prenota" />
                </form>

            </div>
        </div>

    </div>
    }
