@{
    ViewData["Title"] = "Prenotazione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginModel
@using Microsoft.AspNetCore.Identity
@using VillaggioTuristico.Entities
@inject SignInManager<User> SignInManager
        <div>
            Camera: <input type="text" id="prenotationCamera" /><br/>
            Periodo: <input type="text" id="prenotationPeriodo" /> 

            <button onclick="insertPrenotation()" class="btn btn-primary">Prenota</button>
        </div>