@{
    ViewData["Title"] = "Prenotazione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginModel
@using Microsoft.AspNetCore.Identity
@using VillaggioTuristico.Entities
@inject SignInManager<User> SignInManager
        <div>
            <label for="periodi">Scegli un periodo:</label>
             <select name="periodi" id="periodi">
            </select><br/>
            <label for="camere">Scegli una camera:</label>
             <select name="camere" id="camere">
            </select><br/>

            <button onclick="insertPrenotation()" class="btn btn-primary">Prenota</button>
        </div>